body{
	margin:0;
	padding:0;
	background:url(myblur.jpg);
	background-size:cover;
	background-repeat:no-repeat;
}

.contactform{
	width:100%;
	max-width:600px;
	top:51%;
	left:50%;
	background:#EFE2E2;
	font-family:sans-serif;
	position:absolute;	
	transform:translate(-50%,-50%);
	padding:30px 30px;
	box-sizing:border-box;
	border-radius:12px;
	text-align:center;
	box-shadow:0 0 60px #A37979;
}

.formitems{
	border:1px solid silver;
	margin:5px;
	padding:15px;
	border-radius:8px;
}

.formitems label{
	display:block;
	text-align:left;
	font-size:15px;
}

.formitems input{
	width:100%;
	border:none;
	background:none;
	outline:none;
	font-size:20px;
	margin-top:5px;
}

.formitems textarea{
	width:100%;
	border:none;
	background:none;
	outline:none;
	font-size:20px;
	margin-top:5px;
}

#sendth{
	display:block;
	background:#D3B7B7;
	width:100%;
	padding:14px 0;
	color:black;
	font-weight:bold;
	cursor:pointer;
	text-transform:capitalize;
	margin-top:8px;
	border-radius:10px;
}

#tareek{
	font-family:sans-serif;
	font weight:20px;
	text-align:center;
}